body {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 45px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

a {
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 20px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

header {
	background-color: #F15B31;
	color: #ffffff;
	padding: 30px 20px;
}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;

}

main {
	margin: 35px auto;
	padding: 0px 40px;
	width: 850px;
	height: 72vh;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	position: sticky;
	bottom: 0;
}


.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
}

a:hover {
	border-bottom: 2px solid white;
}
